.DogList img {
  margin: 0 auto;
}

.DogList .row {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3rem;
}
.DogList img {
  width: 75%;
}
.DogList img:hover {
  text-decoration: underline;
}
